.about-wrap {
    padding-top: 18px;
}
h2.about-title  {
    letter-spacing: 4px;
       margin-bottom: 29px;
}
div .about-txt {
    margin-top: 30px;
    margin-bottom: 30px;
}
a.btn.btn-default.about-contact {
    margin-bottom: 70px;
}