.abstracts-abstract {
    height: 445px;
}
.abstracts-title {
    margin: 0;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.abstracts-abstract {
    padding: 15px;
    background-color: rgba(221, 221, 221, 0.2);
}
.abstracts-abstract button {
    background-color: rgba(221, 221, 221, 0.2);
    border-radius: 0;
}
.abstracts-pagination {
    margin-top: 20px;
}
.abstracts-pagination button {
    width: 45px;
}
/* hide text after */
.abstracts-subtxt {
    border: 1px solid black;
}
.abstracts-subtxt p {
    line-height: 20px;
    margin-bottom: 20px; /* must equal line-height to prevent ugly truncanation on overflow */
}

/* ALTERNATIVE TO ELLIPSIS CODE

.abstracts-subtxt {  

        position: relative;
    }

.abstracts-subtxt:after { 
    content: "";

    text-align: right;

    position: absolute;

    bottom: 0;

    right: 0;

    width: 70%;

    height: 1.2em;

    background: linear-gradient(to right, rgba(248, 248, 248, 0), rgba(248, 248, 248, 1) 50%);
} 
*/