div.color-code {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    /* margin-top: 15px;
    margin-bottom: 15px; 
    margin-top: 20px; */
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
#bootstrap-overide-abstract pre,
#bootstrap-overide-article pre {
    font-family: 'Inconsolata', 'Source Code Pro';
    font-size: 14px; 
    font-weight: normal;
    /* line-height: 1; */
    line-height: 20px;
    -moz-tab-size: 4; /* Firefox 4+ */
    -o-tab-size: 4; /* Opera 11.5 & 12.1 only */
    tab-size: 4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    color: #222;
    border: 0px;
    border-radius: 0;
    font-weight: 500;
}
div.color-code, 
#bootstrap-overide-abstract pre,
#bootstrap-overide-article pre {
    background-color: #f4f4f4;
}


