div.color-code {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
#bootstrap-overide-article pre {
    font-family: 'Inconsolata', 'Source Code Pro';
    font-size: 14px; 
    font-weight: normal;
    line-height: 1;
    -moz-tab-size:    4; /* Firefox 4+ */
    -o-tab-size:      4; /* Opera 11.5 & 12.1 only */
    tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
       margin: 0;
    padding: 0;
    white-space: pre-wrap;
    color: #222;
    border: 0px;
    border-radius: 0;
      font-weight: 500;
}
div.color-code, 
#bootstrap-overide pre span,
#bootstrap-overide-article pre {
     background-color: #f4f4f4;
}
.xml-meta {
    color: #555;
}        
.xml-bracket {
    color: mediumblue;
}
.xml-tag {
    color: brown;
}
.xml-attribute {
    color:  red;
}
.xml-string {
    color: mediumblue;
}
.xml {
    color: black;
}
.javascript-keyword {
    color: mediumblue;
}
.javascript-number {
    color:  red;
}
.javascript-string {
    color:  brown;
}
.javascript-comment {
    color: green;
}
.javascript-regex {
    color: orange;
}