<div class="row about">
	<div class="col-md-10 col-md-offset-1">
		<div class="about-wrap">
			<h2 class="about-title"><small>ABOUT</small></h2>
			<h5>Last Updated on 10th February 2018</h5>			
			<div class="about-txt">		
				<p>"Front End Engineer" is a blog about Javascript and its frameworks by a former Mechanical Engineer, now working as a Software Engineer. It describes various problems I have encounted and solutions to these problems. I have chosen to remain anonymous but, should you have any queries, I can be contacted by email. I am located in Sydney, Australia.</p>
				<p>Javascript itself, has an interesting history. It was originally conceived in 1995 as a lightweight language to complement Java, with the requirements that it would appeal to non-professional programmers and be interpretable for easy embedding in webpages. <a href="https://en.wikipedia.org/wiki/Brendan_Eich" target="_blank">Brendan Eich</a>, it's inventor, famously created a working prototype in ten days.</p>
				<p>It was not taken seriously until 2005 when the introduction of AJAX led to it becoming an essential part of application development and moved it into mainstream development. It's position was further strengthened in 2009 with the widespread adoption of Single Page Applications and by Server Side deployment led by the <a href="http://www.angularjswiki.com/angularjs/history-of-angularjs/" target="_blank">AngularJS</a> framework, and by <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank">NodeJS</a> respectively.</p>
				<p><a href="https://en.wikipedia.org/wiki/Douglas_Crockford" target="_blank">Douglas Crockford</a> summed up the good parts of Javascript in a few lines, namely lambda functions, functions as first-class objects, loose typing, dynamic objects, and an expressive object literal notation. In fact, javascript was the first lambda language to go mainstream. It is these good parts that I find so appealing, hence this blog.</p>
			</div>
			<a ui-sref="contact" class="btn btn-default about-contact">Contact Me</a>
		</div>
	</div>
</div>



