.contact {
	margin-top: 60px;
}
.contact-title {
	letter-spacing: 4px;
}
.contact-alert {
    background-color: #2196F3;	
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    display: none;
}
.contact-alert-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-alert-closebtn:hover {
    color: black;
}