<br>
<div style="height: 480px">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <a href="https://reactjs.org/" target="_blank"><img src="/images/01.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://babeljs.io/" target="_blank"><img src="/images/02.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://webpack.js.org/" target="_blank"><img src="/images/03.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://developer.mozilla.org/bm/docs/Web/JavaScript" target="_blank"><img src="/images/04.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://gruntjs.com/" target="_blank"><img src="/images/05.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://github.com/" target="_blank"><img src="/images/06.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://angularjs.org/" target="_blank"><img src="/images/07.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://nodejs.org/en/" target="_blank"><img src="/images/08.jpg"/></a>
        </div>
        <div class="grid-item">
            <a href="https://www.mongodb.com/" target="_blank"><img src="/images/09.jpg"/></a>
        </div>
    </div>
</div>
<hr>